@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

h1 {
  margin: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size:calc(30px + 1vw);
  text-align: center;
}

header {
  position:fixed;
  top:0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score-container {
  display: flex;
  align-items: center;
}

#score-label{
  font-family: "Roboto", sans-serif;
  font-size:calc(30px + 1vw);
  margin-right: 10px;
}

#start {
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background: rgb(0, 128, 0);
  color: white;
  font-size:calc(30px + 1vw);
  font-family: "Roboto", sans-serif;
  border-radius: 1vmin;
  filter: drop-shadow(.2vmin .2vmin .2vmin rgba(0, 0, 0, .7));
  transition: background-color .2s;
}

#start:hover {
  background-color: rgb(21, 197, 21);
}

#timer {
  font-family: "Roboto", sans-serif;
  font-size: 7vmin;
}

/* div {
  border: solid black 1px;
} */

.player {
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-radius: 50vh;
  margin-bottom: 50px;
  filter: drop-shadow(.3vmin .3vmin .3vmin rgba(0, 0, 0, 0.5));
}

.player-A {
  background-color: red;
}

.player-B {
  background-color: blue;
  /* transform: scale(.5); */
}

.test {
  margin: 0 0 0 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size:calc(100px + 4vw);
  color: white;
  filter: drop-shadow(.3vmin .3vmin .3vmin rgba(0, 0, 0, 0.5));
}

.week {
  margin: 10px;
  padding: 10px;
  width: 70vw;
  min-width: 600px;
  height: 250px;
  align-items: center;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px
}

.day {
  /* border: solid black 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: ease-in .2s;
  border-radius: 1vw;
  overflow: hidden;
  filter: drop-shadow(.3vmin .3vmin .3vmin rgba(0, 0, 0, 0.5));
}

.day-label {
  padding: 5px;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size:calc(10px + .4vw);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.image {
  width: 100%;
}

.day:hover {
  transform: scale(2);
  z-index: 1;
}

#score {
  font-family: "Roboto", sans-serif;
  font-size: 7vmin;
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vmin;
  transform: translate(-50%, -50%);
  filter: drop-shadow(.3vmin .3vmin .3vmin rgba(0, 0, 0, .7));
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
}

.feedback-animation {
  animation: grow-shrink 1s ease-in-out backwards;
}

#circle {
  fill: none;
  stroke: #00A14B;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

@keyframes grow-shrink{
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  30% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}